<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bysj.wyb.student.mapper.HomeworkMapper">


    <select id="personalHomework" resultType="com.bysj.wyb.student.vo.HomeworkVo">
       SELECT ph.id as homeworkId,ph.name as homeworkName,pt.name as teacherName,pc.name as courseName,ph.createtime as createTime,ph.context as context
        from pd_homework_status as phs,pd_homework as ph,pd_teacher as pt,pd_course as pc
        where
        phs.uid=#{uid} and ph.id=phs.homeworkid and ph.teacherid=pt.uid and ph.courseid=pc.courseid and pc.isdelete=0
    </select>
    
    <select id="findHomeworkBySomething" resultType="com.bysj.wyb.student.vo.HomeworkVo">
        SELECT ph.id as homeworkId,ph.name as homeworkName,pt.name as teacherName,pc.name as courseName,ph.createtime as createTime,ph.context as context
        from pd_homework_status as phs,pd_homework as ph,pd_teacher as pt,pd_course as pc
        where
        phs.uid=#{uid} and ph.id=phs.homeworkid and ph.teacherid=pt.uid and ph.courseid=pc.courseid and pc.isdelete=0
        and concat(ph.`name`,pc.name,pt.`name`) like "%"#{keywords}"%"
    </select>

    <select id="showStatus" resultType="com.bysj.wyb.student.vo.HomeworkVo">
        select score,status as upStatu,uptime as upTime from pd_homework_status where homeworkid=#{homeworkId} and uid=#{uid}
    </select>

    <update id="uploadHomework" parameterType="string">
        update pd_homework_status set upurl=#{url},status=1,uptime=#{upTime} where homeworkid=#{homeworkId} and uid=#{uid}
    </update>

    <select id="upInformation" resultType="com.bysj.wyb.student.vo.StuHomeworkVo">
        select ps.nickname as nickName,ps.name as studentName,ph.name as homeworkName from pd_student as ps, pd_homework as ph where ps.uid=#{uid} and ph.id=#{homeworkId}
    </select>
</mapper>